# check result

In [1]:
import pandas as pd

In [43]:
submission = pd.read_csv('../prediction/KSW_batch32_seed2_epoch10.csv')
submission.head()

   id           pred_label                                              probs
0   0          org:product  [0.011091702617704868, 0.0006882051820866764, ...
1   1  per:alternate_names  [0.008201401680707932, 0.0001585328864166513, ...
2   2          no_relation  [0.9995689988136292, 2.592715281934943e-05, 3....
3   3          no_relation  [0.9980446100234985, 0.00012327719014137983, 3...
4   4          no_relation  [0.979190468788147, 0.018736956641077995, 0.00...

In [45]:
submission.pred_label.value_counts()

no_relation                            4511
per:title                               695
org:top_members/employees               428
per:employee_of                         343
org:product                             290
org:place_of_headquarters               208
org:members                             167
per:origin                              167
per:colleagues                          159
org:member_of                           141
per:alternate_names                     106
per:place_of_residence                   81
per:product                              70
org:alternate_names                      55
per:spouse                               42
per:children                             40
per:parents                              40
per:siblings                             27
per:date_of_death                        26
per:place_of_death                       22
per:other_family                         20
org:number_of_employees/members          20
org:founded                              19
org:political/religious_affiliation      16
per:date_of_birth                        15
per:schools_attended                     14
per:place_of_birth                       13
org:founded_by                           12
org:dissolved                             9
per:religion                              9
Name: pred_label, dtype: int64

In [40]:
#submission = pd.read_csv('../prediction/klue_bert-base_CEW_CosALR_AdamW_10_basic.csv')
submission2 = pd.read_csv('../prediction/klue-roberta-large_CEW_CosALR_AdamW_base_1st_2.csv')
submission2.pred_label.value_counts()

no_relation                            4911
per:title                               673
org:top_members/employees               410
per:employee_of                         302
per:origin                              247
org:product                             216
org:place_of_headquarters               180
org:member_of                           125
per:alternate_names                     124
per:spouse                               78
org:alternate_names                      74
org:members                              58
per:product                              45
per:place_of_residence                   35
per:children                             33
per:colleagues                           33
per:siblings                             30
per:date_of_death                        29
org:founded                              27
per:parents                              26
per:other_family                         22
per:date_of_birth                        19
per:place_of_birth                       16
per:place_of_death                       14
org:number_of_employees/members          13
org:founded_by                           10
org:political/religious_affiliation       7
per:schools_attended                      7
per:religion                              1
Name: pred_label, dtype: int64

In [ ]:
from inference import do_inference
do_inference(config)

In [24]:
test_csv = pd.read_csv('../../../dataset/test/test_data.csv')
len(test_csv)

7765

In [27]:
dataset = pd.read_csv('../../../dataset/train/train_dataset.csv')

In [28]:
dataset.head()

,Unnamed: 0,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
0,0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,"(24, 26)",ORG,조지 해리슨,"(13, 18)",PER,no_relation,wikipedia
1,1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,"(19, 23)",ORG,대안신당,"(14, 17)",ORG,no_relation,wikitree
2,2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,"(21, 24)",ORG,한국프로축구연맹,"(34, 41)",ORG,org:member_of,wikitree
3,3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,"(13, 17)",ORG,박정부,"(22, 24)",PER,org:top_members/employees,wikitree
4,4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,"(22, 30)",ORG,1967,"(0, 3)",DAT,no_relation,wikipedia