# check result

In [1]:
import pandas as pd

In [19]:
submission = pd.read_csv('../prediction/klue_bert-base_CEW_CosALR_AdamW_loss_TEM_2nd.csv')
submission.head()

   id           pred_label                                              probs
0   0  org:alternate_names  [0.018470456823706627, 0.0032995266374200583, ...
1   1  per:alternate_names  [0.01879669539630413, 0.00046347727766260505, ...
2   2          no_relation  [0.996674656867981, 6.995588773861527e-05, 0.0...
3   3          no_relation  [0.6300441026687622, 0.002294109435752034, 0.0...
4   4          no_relation  [0.6659647822380066, 0.3127194046974182, 0.000...

In [20]:
submission.pred_label.value_counts()

no_relation                            4186
per:title                               857
org:top_members/employees               483
org:product                             337
per:employee_of                         337
per:colleagues                          208
org:place_of_headquarters               205
per:origin                              198
org:member_of                           157
per:alternate_names                     131
org:alternate_names                     119
org:members                              92
per:product                              76
per:parents                              70
per:spouse                               53
org:founded                              46
org:number_of_employees/members          24
per:siblings                             23
per:date_of_death                        22
org:political/religious_affiliation      21
per:children                             20
per:other_family                         18
per:date_of_birth                        16
per:place_of_residence                   16
per:place_of_birth                       11
per:religion                             11
org:founded_by                           10
per:schools_attended                      9
per:place_of_death                        5
org:dissolved                             4
Name: pred_label, dtype: int64

In [21]:
submission2 = pd.read_csv('../../../code/prediction/submission_1.csv')
submission2.pred_label.value_counts()

no_relation                            4438
per:title                               784
org:top_members/employees               428
per:employee_of                         341
org:place_of_headquarters               255
org:product                             220
per:origin                              162
org:members                             144
per:colleagues                          130
per:alternate_names                     125
org:member_of                           109
per:place_of_residence                   92
org:alternate_names                      90
per:product                              74
per:spouse                               70
per:children                             40
per:parents                              38
org:founded                              28
per:siblings                             27
per:date_of_death                        27
per:other_family                         25
org:political/religious_affiliation      17
per:place_of_death                       17
org:number_of_employees/members          16
per:date_of_birth                        16
per:place_of_birth                       14
per:religion                             13
per:schools_attended                     11
org:dissolved                             9
org:founded_by                            5
Name: pred_label, dtype: int64

In [ ]:
from inference import do_inference
do_inference(config)