In [1]:
import pandas as pd
from transformers import AutoTokenizer, AutoConfig,AutoModelForMaskedLM, AutoModelForSequenceClassification, Trainer, TrainingArguments, RobertaConfig, RobertaTokenizer, RobertaForSequenceClassification, BertTokenizer

#csv로드 후 str to dict 해준다.
df = pd.read_csv("/opt/ml/dataset/train/train.csv")
df["subject_entity"] = df["subject_entity"].apply(lambda x : eval(x))
df["object_entity"] = df["object_entity"].apply(lambda x : eval(x))

for key in df["subject_entity"][0].keys():
    print(key)
    
    df["subject_" + key] =  df["subject_entity"].apply(lambda x : x[key])
    df["object_" + key] =  df["object_entity"].apply(lambda x : x[key])

word
start_idx
end_idx
type

In [6]:

for label in ["no_relation", 'org:top_members/employees', 'per:employee_of']:
    df = df.drop(df.query("label == @label").index)

In [3]:
df["label"].value_counts()

no_relation                            9534
org:top_members/employees              4284
per:employee_of                        3573
per:title                              2103
org:member_of                          1866
org:alternate_names                    1320
per:origin                             1234
org:place_of_headquarters              1195
per:date_of_birth                      1130
per:alternate_names                    1001
per:spouse                              795
per:colleagues                          534
per:parents                             520
org:founded                             450
org:members                             420
per:date_of_death                       418
org:product                             380
per:children                            304
per:place_of_residence                  193
per:other_family                        190
per:place_of_birth                      166
org:founded_by                          155
per:product                             139
per:siblings                            136
org:political/religious_affiliation      98
per:religion                             96
per:schools_attended                     82
org:dissolved                            66
org:number_of_employees/members          48
per:place_of_death                       40
Name: label, dtype: int64

In [23]:
pd.set_option('display.max_colwidth', None)
df

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'}",no_relation,wikipedia,강용석,스위스 로잔,24,13,26,18,ORG,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': 23, 'type': 'ORG'}","{'word': '대안신당', 'start_idx': 14, 'end_idx': 17, 'type': 'ORG'}",no_relation,wikitree,제1사단,유연석,19,14,23,17,ORG,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터 관중 유치 성과와 마케팅 성과를 인정받아 ‘풀 스타디움상’과 ‘플러스 스타디움상’을 수상했다.,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 24, 'type': 'ORG'}","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx': 41, 'type': 'ORG'}",org:member_of,wikitree,SK하이닉스,월트 디즈니 컴퍼니,21,34,24,41,ORG,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪고 있는 대구광역시에 행복박스를 전달했다고 10일 밝혔다.,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': 17, 'type': 'ORG'}","{'word': '박정부', 'start_idx': 22, 'end_idx': 24, 'type': 'PER'}",org:top_members/employees,wikitree,경성방직,권오봉,13,22,17,24,ORG,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8번으로 배정되었다.,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_idx': 30, 'type': 'ORG'}","{'word': '1967', 'start_idx': 0, 'end_idx': 3, 'type': 'DAT'}",no_relation,wikipedia,이정미,리베리오,22,0,30,3,ORG,DAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32465,32465,"한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등록 마감 결과, 강석호(3선·경북 영양·영덕·봉화·울진)-이장우(재선·대전 동구), 유기준(4선·부산 서구·동구)-박성중(초선·서울 서초을), 김선동(재선·서울 도봉을)-김종석(초선·비례), 심재철(5선·경기 안양시동안구을)-김재원(3선·경북 상주·군위·의성·청송) 등 4개 조가 등록했다고 밝혔다.","{'word': '유기준', 'start_idx': 93, 'end_idx': 95, 'type': 'PER'}","{'word': '부산 서구·동구', 'start_idx': 100, 'end_idx': 107, 'type': 'LOC'}",per:employee_of,wikitree,장덕수,국민의당,93,100,95,107,PER,LOC
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을 지도자로 하는 남접으로 나뉘게 된다.","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, 'type': 'PER'}","{'word': '손병희', 'start_idx': 17, 'end_idx': 19, 'type': 'PER'}",per:colleagues,wikipedia,G-Unit,이승만,7,17,9,19,PER,PER
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 229개 기초지자체 중 최상위 등급인 A등급을 받으면서 전국에서 가장 높은 교통안전 인식 수준을 갖고 있는 것으로 나타났다.,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, 'type': 'ORG'}","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, 'type': 'PER'}",org:top_members/employees,wikitree,서정대학교,박우량,0,7,2,9,ORG,PER
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이사장, 한국기원 총재를 맡고 있다.","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9, 'type': 'ORG'}","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': 25, 'type': 'ORG'}",no_relation,wikipedia,독일 자유민주당,2013,6,21,9,25,ORG,ORG
32469,32469,"화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버스 승강장, 공중화장실 등 다중이용시설과 오동리 천운아파트 주변을 소독하는 방역 봉사활동을 펼쳤다고 밝혔다.","{'word': '화순군', 'start_idx': 0, 'end_idx': 2, 'type': 'ORG'}","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, 'type': 'PER'}",org:top_members/employees,wikitree,완주군,임병연,0,7,2,9,ORG,PER

In [18]:
df.drop(df.query("label == 'per:title'").index)

KeyError: 2

In [15]:
import pickle
import random

def mix_word(pd_dataset, except_label = []):
  # 라벨별로 서로 단어들을 섞어준다.
  with open('dict_label_to_num.pkl', 'rb') as f:
      dict_label_to_num = pickle.load(f)
  labels = dict_label_to_num.keys()
  labels = list(labels)

  # 섞는 것을 제한하는 라벨 설정
  for label in except_label:
    labels.remove(label) #remove는 오로지 value만 가능.

  for label in labels:
    # sub, obj 나눠서 해야함.
    for relation in ["subject_word", "object_word"]:
      label_words = pd_dataset.query("label == @label")[relation]
      index = label_words.index
      words = list(label_words)
      # 단어 섞어서 다시 재배치
      random.shuffle(words) #print 할경우 None 반환
      pd_dataset.loc[index, relation] = words
  return pd_dataset


def argue_dataset(df):
    
    # argu data num calculate
    label_count = df["label"].value_counts()
    #나눠 주는 값은 전체 데이터셋에서 가장 큰 비중인 no_relation의 비율
    result = label_count/len(df["label"])/0.293625
    #그냥 하면 너무 크기때문에 3을 나눠줌
    label_count_dict = dict(((1/result)/3) * label_count - label_count )

    #증강 안해도 많은 양을 가지고 있는 라벨은 그대로 둔다.
    del label_count_dict["no_relation"]
    del label_count_dict['org:top_members/employees']
    del label_count_dict['per:employee_of']

    argu_df = pd.DataFrame()
    for label, count in label_count_dict.items():
        upsample_df = df.query("label == @label").sample(n = int(count), replace = True)
        argu_df = pd.concat([argu_df, upsample_df])
        
    argu_df = argu_df.sample(frac=1).reset_index(drop=True)
    argu_df = mix_word(argu_df)

    return argu_df

In [7]:
df.drop(df.query("label == 'no_relation'").index).head(5)

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree,광주FC,한국프로축구연맹,21,34,24,41,ORG,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree,아성다이소,박정부,13,22,17,24,ORG,PER
5,5,": 유엔, 유럽 의회, 북대서양 조약 기구 (NATO), 국제이주기구, 세계 보건 ...","{'word': '북대서양 조약 기구', 'start_idx': 13, 'end_i...","{'word': 'NATO', 'start_idx': 25, 'end_idx': 2...",org:alternate_names,wikipedia,북대서양 조약 기구,NATO,13,25,22,28,ORG,ORG
7,7,"박용오(朴容旿, 1937년 4월 29일(음력 3월 19일)(음력 3월 19일) ~ ...","{'word': '박용오', 'start_idx': 0, 'end_idx': 2, ...","{'word': '1937년 4월 29일', 'start_idx': 9, 'end_...",per:date_of_birth,wikipedia,박용오,1937년 4월 29일,0,9,2,20,PER,DAT
8,8,중공군에게 온전히 대항할 수 없을 정도로 약해진 국민당은 타이베이로 수도를 옮기는 ...,"{'word': '중화민국', 'start_idx': 59, 'end_idx': 6...","{'word': '타이베이', 'start_idx': 32, 'end_idx': 3...",org:place_of_headquarters,wikipedia,중화민국,타이베이,59,32,62,35,ORG,LOC

In [17]:
mix_word(df).query("label == 'per:title'")

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
11,11,이른바 'Z세대'로 불리는 1990년대 중반 이후 태어난 세대에게 대표 아이콘으로 ...,"{'word': '빌리 아일리시', 'start_idx': 60, 'end_idx'...","{'word': '싱어송라이터', 'start_idx': 53, 'end_idx':...",per:title,wikitree,서동주,골키퍼,60,53,66,58,PER,POH
24,24,FA로 친정 팀에 돌아온 중견수 이택근과 1루수로 정착한 박병호와 함께 클린업 트리...,"{'word': '박병호', 'start_idx': 32, 'end_idx': 34...","{'word': '1루수', 'start_idx': 23, 'end_idx': 25...",per:title,wikipedia,노정희,신앙교리성 장관,32,23,34,25,PER,POH
38,38,광주국악상설공연이 세계수영선수권대회 기간동안 연이어 매진을 기록하며 광주 대표 문화...,"{'word': '박애리', 'start_idx': 74, 'end_idx': 76...","{'word': '국악인', 'start_idx': 70, 'end_idx': 72...",per:title,wikitree,카시야스,소설가,74,70,76,72,PER,POH
48,48,후기 낭만적 음악의 화성조직이나 색채적인 오케스트라의 사용법이라든가 그러한 개개의 ...,"{'word': '드보르작', 'start_idx': 173, 'end_idx': ...","{'word': '작곡가', 'start_idx': 127, 'end_idx': 1...",per:title,wikipedia,이사배,방송인,173,127,176,129,PER,POH
52,52,"(KIA 내야수 그, 투수 이동현, 외야수 김경언 ↔ 한화 투수 안영명, 박성호, ...","{'word': '김경언', 'start_idx': 24, 'end_idx': 26...","{'word': '외야수', 'start_idx': 20, 'end_idx': 22...",per:title,wikipedia,최홍철,수의사,24,20,26,22,PER,POH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32379,32379,박세리(1977년 9월 28일 ~)는 대한민국의 골프 선수이자 올림픽 여자부 골프 ...,"{'word': '박세리', 'start_idx': 0, 'end_idx': 2, ...","{'word': '골프 선수', 'start_idx': 27, 'end_idx': ...",per:title,wikipedia,마마두 니앙,폴란드의 왕,0,27,2,31,PER,POH
32392,32392,'아는 형님' 아역배우 김강훈이 여자친구에게 영상 편지를 보냈다.,"{'word': '김강훈', 'start_idx': 13, 'end_idx': 15...","{'word': '아역배우', 'start_idx': 8, 'end_idx': 11...",per:title,wikitree,신영균,소설가,13,8,15,11,PER,POH
32402,32402,"1990년 국가보훈처에 의해 이상룡(李相龍), 이승화(李承和), 이광민(李光民) 등...","{'word': '이광민', 'start_idx': 36, 'end_idx': 38...","{'word': '독립운동가', 'start_idx': 49, 'end_idx': ...",per:title,wikipedia,세르히오 아센호,독립운동가,36,49,38,53,PER,POH
32446,32446,"8월 2일에는 이정모 서울시립과학관 관장 ‘알바트로스’를 주제로, 9일에는 금정연 ...","{'word': '이정모', 'start_idx': 8, 'end_idx': 10,...","{'word': '서울시립과학관 관장', 'start_idx': 12, 'end_i...",per:title,wikitree,노형욱,2루수,8,12,10,21,PER,POH
32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree,요하네스 브람스,유격수,12,8,14,10,PER,POH

In [68]:
pd_dataset = df

argu_df = argue_dataset(pd_dataset)
    
pd_dataset = pd.concat([pd_dataset, argu_df])

In [69]:
pd_dataset

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia,비틀즈,조지 해리슨,24,13,26,18,ORG,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree,민주평화당,대안신당,19,14,23,17,ORG,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree,광주FC,한국프로축구연맹,21,34,24,41,ORG,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree,아성다이소,박정부,13,22,17,24,ORG,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia,요미우리 자이언츠,1967,22,0,30,3,ORG,DAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70722,2832,유엔난민기구는 1950년 12월 14일에 설립되었고 국제연합구호부흥기관 보다 일찍 ...,"{'word': '유엔난민기구', 'start_idx': 0, 'end_idx': ...","{'word': '1950년 12월 14일', 'start_idx': 8, 'end...",org:founded,wikipedia,조선민주주의인민공화국 정부,1999년,0,8,5,20,ORG,DAT
70723,26498,"이후 촬영 중인 아이유 옆에서 유인나 씨가 지인과 통화를 하자 아이유는 ""유인나 씨...","{'word': '아이유', 'start_idx': 9, 'end_idx': 11,...","{'word': '유인나', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikitree,이효리,이승만,9,17,11,19,PER,PER
70724,6957,염산은 800년경 연금술사 자비르 이븐 하이얀(Jabir ibn Hayyan)가 소...,"{'word': '자비르 이븐 하이얀', 'start_idx': 15, 'end_i...","{'word': '연금술사', 'start_idx': 10, 'end_idx': 1...",per:title,wikipedia,김영록,3루수,15,10,24,13,PER,POH
70725,30987,1593년 6월 2차 진주성 전투에서 진주성이 함락되자 의병장인 김천일·고종후와 함...,"{'word': '고종후', 'start_idx': 40, 'end_idx': 42...","{'word': '진주성', 'start_idx': 12, 'end_idx': 14...",per:place_of_death,wikitree,선의왕후,서울,40,12,42,14,PER,POH
70726,23387,"영재학교에는 한국과학기술원 부설 한국과학영재학교, 서울과학고등학교, 경기과학고등학교...","{'word': '경기과학고등학교', 'start_idx': 38, 'end_idx...","{'word': '영재학교', 'start_idx': 22, 'end_idx': 2...",org:member_of,wikipedia,유벤투스,NBA,38,22,45,25,ORG,ORG

In [49]:
pd.set_option('display.max_colwidth', None)
df.query("label == 'per:date_of_birth'")

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
7,7,"박용오(朴容旿, 1937년 4월 29일(음력 3월 19일)(음력 3월 19일) ~ 2009년 11월 4일)는 서울에서 태어난 대한민국의 기업인으로 두산그룹 회장, KBO 총재 등을 역임했다.","{'word': '박용오', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1937년 4월 29일', 'start_idx': 9, 'end_idx': 20, 'type': 'DAT'}",per:date_of_birth,wikipedia,오승환,1973년 2월 11일,0,9,2,20,PER,DAT
45,45,영국의 제임스 클라크 로스(1800년 ~ 1862년) 경은 1839년 10월 ‘에레부스’호와 ‘테러’호로 영국을 떠나 자남극을 찾아갔다.,"{'word': '제임스 클라크 로스', 'start_idx': 4, 'end_idx': 13, 'type': 'PER'}","{'word': '1800년 ~ 1862년', 'start_idx': 15, 'end_idx': 27, 'type': 'DAT'}",per:date_of_birth,wikipedia,고다이고,1874년 7월 9일,4,15,13,27,PER,DAT
62,62,"김동성(金東聖, 1980년 2월 9일 ~)은 대한민국의 쇼트트랙 선수이다.","{'word': '김동성', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1980년 2월 9일', 'start_idx': 9, 'end_idx': 19, 'type': 'DAT'}",per:date_of_birth,wikipedia,장 미셸 쿨롱,1973년 8월 22일,0,9,2,19,PER,DAT
185,185,"한상길(1987년 9월 5일 ~)은 대한민국의 남자 배구 선수이며, 인천 대한항공 점보스 소속의 센터이다.","{'word': '한상길', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1987년 9월 5일', 'start_idx': 4, 'end_idx': 14, 'type': 'DAT'}",per:date_of_birth,wikipedia,신윤복,1476년 7월 21일,0,4,2,14,PER,DAT
189,189,안효섭(1995년 4월 17일 ~)은 대한민국에서 활동하는 캐나다 국적의 배우이다.,"{'word': '안효섭', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1995년 4월 17일', 'start_idx': 4, 'end_idx': 15, 'type': 'DAT'}",per:date_of_birth,wikipedia,홍석현,1963년 1월 10일,0,4,2,15,PER,DAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32370,32370,"가게야마 히로노부(1961년 2월 18일~)는 오사카부 출신의 남성 가수, 작사자, 작곡가로 솔리드 복스(SOLID VOX)소속이다.","{'word': '가게야마 히로노부', 'start_idx': 0, 'end_idx': 8, 'type': 'PER'}","{'word': '1961년 2월 18일', 'start_idx': 10, 'end_idx': 21, 'type': 'DAT'}",per:date_of_birth,wikipedia,신상철,1988년 9월 5일,0,10,8,21,PER,DAT
32408,32408,변인선(1946년 3월 11일 ~ 2015년 1월 14일)은 조선민주주의인민공화국의 군인 겸 정치인이다.,"{'word': '변인선', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1946년 3월 11일', 'start_idx': 4, 'end_idx': 15, 'type': 'DAT'}",per:date_of_birth,wikipedia,존 피어폰트 모건,1996년 2월 15일,0,4,2,15,PER,DAT
32424,32424,"김규항(1962년 ~)은 대한민국의 작가, 출판인, 칼럼니스트이다.","{'word': '김규항', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1962년', 'start_idx': 4, 'end_idx': 8, 'type': 'DAT'}",per:date_of_birth,wikipedia,마크 브레시아노,1954년 11월 3일,0,4,2,8,PER,DAT
32436,32436,"엔리케 4세(Enrique IV, 1425년 1월 5일 ~ 1474년 12월 11일)는 카스티야 연합 왕국의 왕이었다.","{'word': '엔리케 4세', 'start_idx': 0, 'end_idx': 5, 'type': 'PER'}","{'word': '1425년 1월 5일', 'start_idx': 19, 'end_idx': 29, 'type': 'DAT'}",per:date_of_birth,wikipedia,김정혁,1975년 8월 9일,0,19,5,29,PER,DAT
32456,32456,"신대철(申大澈, 1967년 2월 16일 ~)은 대한민국의 음악가이다.","{'word': '신대철', 'start_idx': 0, 'end_idx': 2, 'type': 'PER'}","{'word': '1967년 2월 16일', 'start_idx': 9, 'end_idx': 20, 'type': 'DAT'}",per:date_of_birth,wikipedia,이하늘,1987년 3월 18일,0,9,2,20,PER,DAT

In [22]:
df.query("label == 'no_relation'")

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia,비틀즈,조지 해리슨,24,13,26,18,ORG,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree,민주평화당,대안신당,19,14,23,17,ORG,ORG
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia,요미우리 자이언츠,1967,22,0,30,3,ORG,DAT
6,6,그에 따라 나폴리와 계약을 연장한 마라도나는 1989년 팀을 UEFA컵 정상으로 인...,"{'word': 'AC 밀란', 'start_idx': 64, 'end_idx': ...","{'word': '1989', 'start_idx': 25, 'end_idx': 2...",no_relation,wikipedia,AC 밀란,1989,64,25,68,28,ORG,DAT
14,14,"조토 디 본도네, 마사초, 피에로 델라 프란체스카, 도메니코 기를란다요, 페루지노,...","{'word': '미켈란젤로', 'start_idx': 47, 'end_idx': ...","{'word': '르네상스', 'start_idx': 96, 'end_idx': 9...",no_relation,wikipedia,미켈란젤로,르네상스,47,96,51,99,PER,DAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32457,32457,21일 정읍시에 따르면 올해 노후 경유차 조기 폐차 지원사업으로 예산 17억6880...,"{'word': '정읍시', 'start_idx': 4, 'end_idx': 6, ...","{'word': '1100대', 'start_idx': 61, 'end_idx': ...",no_relation,wikitree,정읍시,1100대,4,61,6,65,ORG,NOH
32459,32459,"메이저 리그 10승 경력을 높이 사서, 2011년 12월 2일 삼성 라이온즈에 영입...","{'word': '삼성 라이온즈', 'start_idx': 35, 'end_idx'...","{'word': '2011년', 'start_idx': 22, 'end_idx': ...",no_relation,wikipedia,삼성 라이온즈,2011년,35,22,41,26,ORG,DAT
32460,32460,위광환 전라남도 해양수산국장은 “지난 3차례 스마트양식 클러스터 조성 공모를 통해 ...,"{'word': '영광군', 'start_idx': 72, 'end_idx': 74...","{'word': '전라남도', 'start_idx': 4, 'end_idx': 7,...",no_relation,wikitree,영광군,전라남도,72,4,74,7,ORG,LOC
32462,32462,심지어 전용 연습구장도 없어 훈련을 여러 지역을 돌아다니며 해야 할 정도로 팀 사정...,"{'word': '방승환', 'start_idx': 85, 'end_idx': 87...","{'word': '공격수', 'start_idx': 94, 'end_idx': 96...",no_relation,wikipedia,방승환,공격수,85,94,87,96,PER,POH
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia,JTBC,중앙홀딩스,6,21,9,25,ORG,ORG

In [41]:
import random

label_words = df.query("label == 'no_relation'")["subject_word"]

index = label_words.index
words = list(label_words)

random.shuffle(words) #print 할경우 None 반환

df.loc[index,"subject_word"] = words

# df.query("label == 'no_relation'")["subject_word"] = random.shuffle(list(df.query("label == 'no_relation'")["subject_word"]))

,id,sentence,subject_entity,object_entity,label,source,subject_word,object_word,subject_start_idx,object_start_idx,subject_end_idx,object_end_idx,subject_type,object_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia,소니 픽쳐스,조지 해리슨,24,13,26,18,ORG,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree,행정안전부,대안신당,19,14,23,17,ORG,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree,광주FC,한국프로축구연맹,21,34,24,41,ORG,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree,아성다이소,박정부,13,22,17,24,ORG,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia,류현진,1967,22,0,30,3,ORG,DAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree,유기준,부산 서구·동구,93,100,95,107,PER,LOC
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia,최시형,손병희,7,17,9,19,PER,PER
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree,완도군,신우철,0,7,2,9,ORG,PER
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia,워싱턴 내셔널스,중앙홀딩스,6,21,9,25,ORG,ORG
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree,화순군,구충곤,0,7,2,9,ORG,PER

In [18]:
import pickle
with open('dict_label_to_num.pkl', 'rb') as f:
    dict_label_to_num = pickle.load(f)
labels = dict_label_to_num.keys()
labels

dict_keys(['no_relation', 'org:top_members/employees', 'org:members', 'org:product', 'per:title', 'org:alternate_names', 'per:employee_of', 'org:place_of_headquarters', 'per:product', 'org:number_of_employees/members', 'per:children', 'per:place_of_residence', 'per:alternate_names', 'per:other_family', 'per:colleagues', 'per:origin', 'per:siblings', 'per:spouse', 'org:founded', 'org:political/religious_affiliation', 'org:member_of', 'per:parents', 'org:dissolved', 'per:schools_attended', 'per:date_of_death', 'per:date_of_birth', 'per:place_of_birth', 'per:place_of_death', 'org:founded_by', 'per:religion'])

In [17]:
for label in labels:
    subject_word_list = df.query("label == @label")["subject_word"]
    uniqe_value = list(pd.unique(subject_word_list))

In [15]:
import random 

random.choice(uniqe_value)

'하비 머드 칼리지'