In [96]:
import pandas as pd
import numpy as np

import pickle

from koeda import EDA

In [ ]:
with open('./code/dict_num_to_label.pkl', 'rb') as f:
    label_type = pickle.load(f)

print(label_type)

In [66]:
train_data = pd.read_csv('./dataset/train/train.csv')

In [67]:
train_data.describe(include='all')
#문장 중 3,667개 중복 => 동일한 데이터를 늘리는데 사용함.
#subject 6,130개 중복
#object 6,766개 중복

,id,sentence,subject_entity,object_entity,label,source
count,32470.000000,32470,32470,32470,32470,32470
unique,NaN,28803,26340,25704,30,3
top,NaN,도쿠가와 이에야스와 도쿠가와 히데타다가 20년에 걸쳐 안정시킨 막부를 이어받은 3대...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",no_relation,wikipedia
freq,NaN,3,98,94,9534,21620
mean,16234.500000,NaN,NaN,NaN,NaN,NaN
std,9373.425957,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN
25%,8117.250000,NaN,NaN,NaN,NaN,NaN
50%,16234.500000,NaN,NaN,NaN,NaN,NaN
75%,24351.750000,NaN,NaN,NaN,NaN,NaN
max,32469.000000,NaN,NaN,NaN,NaN,NaN

In [56]:
num_of_label = {}
for i in range(len(label_type)):
    num_of_label[i] = len(train_data[train_data.label == label_type[i]])

In [60]:
#각 레이블 별 갯수
print(num_of_label)

{0: 9534, 1: 4284, 2: 420, 3: 380, 4: 2103, 5: 1320, 6: 3573, 7: 1195, 8: 139, 9: 48, 10: 304, 11: 193, 12: 1001, 13: 190, 14: 534, 15: 1234, 16: 136, 17: 795, 18: 450, 19: 98, 20: 1866, 21: 520, 22: 66, 23: 82, 24: 418, 25: 1130, 26: 166, 27: 40, 28: 155, 29: 96}

In [132]:
from IPython.core.display import HTML

def word_highlight_html(txt,word, color='blue', highlight=None, attr=None):
    if isinstance(word,str):
        txt = txt.replace(word, f'<span style="color:{color}; background-color:{highlight}">{word}</span>')
    else:
        if not isinstance(color,list):
            color = [color]*len(word)
        if not isinstance(highlight,list):
            highlight = [highlight]*len(word)
        for w,c,h in zip(word,color,highlight):
            txt = txt.replace(w,f'<span style="color:{c};background-color:{h}">{w}</span>')
    return txt

In [141]:
train_data = pd.read_csv('./dataset/train/train.csv')

import re
txt = ''
count = 1
label = "per:place_of_death"
label_df = train_data[train_data['label']==label]
for idx, row in label_df.iterrows():
    sent = row['sentence']
    subj = re.sub("'", '', row['subject_entity'].strip())
    obj = re.sub("'", '', row['object_entity'].strip())
    txt += word_highlight_html(sent, [subj, obj], ['blue', 'red'],  ['#96C4ED', '#B19CD9']) + '<br/><br/>'
    if count > 100:
        break
    count += 1
HTML(txt)

In [95]:
#종교 데이터 확인
train_data[train_data.label == label_type[29]].values[6:10]

array([[1249,
        '《법화경》을 근본 교의(敎義)로 하고 선정(禪定)과 지혜의 조화를 종의(宗義)로 하는 신라의 천태종은 고려 때 대각국사 의천에 의거(依據)해 해동천태종으로 성립되었다.',
        "{'word': '대각국사', 'start_idx': 62, 'end_idx': 65, 'type': 'PER'}",
        "{'word': '천태종', 'start_idx': 52, 'end_idx': 54, 'type': 'ORG'}",
        'per:religion', 'wikipedia'],
       [1496,
        '미국 오하이오 윌밍턴 칼리지 신학과를 나온 이후 1917년 1월, 퀘이커교 선교사로써 국민정부 시대 중화민국 대륙 본토 베이핑을 처음으로 내방(來訪)하였으며 그 당시 리타이구이(李太規, 이태규)라는 중국어 이름을 사용하였다.',
        "{'word': '리타이구이', 'start_idx': 93, 'end_idx': 97, 'type': 'PER'}",
        "{'word': '퀘이커', 'start_idx': 37, 'end_idx': 39, 'type': 'ORG'}",
        'per:religion', 'wikipedia'],
       [1733,
        '현재 통일교의 세계회장은 문선진이지만, 참어머님으로 불리는 한학자씨가 실권을 잡고 있으며, 사망 전 문선명에 의해 유일한 후계자로 지명받은 전 세계회장 문형진씨는 별개 세력화를 선언한 상태이다.',
        "{'word': '문선명', 'start_idx': 56, 'end_idx': 58, 'type': 'PER'}",
        "{'word': '통일교', 'start_idx': 3, 'end_idx': 5, 'type': 'ORG'}",
        'per:religion', 'wikipedia'],
       [1865,
        "1844년 무신론 정치 경제학자인 카를 마르크스는 그의 저서 《헤겔 법철학의 비판을 위하여, 서설》에서 '종교적 비참은 현실적 비참의 표현이자 현실적 비참에 대한 항의이다. 종교는 곤궁한 피조물의 한숨이며, 무정한 세계의 감정이고, 또 정신 없는 상태의 정신이다. 종교는 인민의 아편이다.' 라고 주장하였다.",
        "{'word': '마르크스', 'start_idx': 22, 'end_idx': 25, 'type': 'PER'}",
        "{'word': '무신론', 'start_idx': 6, 'end_idx': 8, 'type': 'POH'}",
        'per:religion', 'wikipedia']], dtype=object)

# 데이터 늘리기

## EDA : Easy Data Augmentation

In [112]:
eda = EDA(morpheme_analyzer="Okt", alpha_sr=0.3, alpha_ri=0.3, alpha_rs=0.3, prob_rd=0.3)

text = "이순신은 조선 중기 무신이다."

result = eda(text)
print(result)
#은 조선 중기 무신이다
#.은 조선중기 무신이다이순신

result = eda(text, p=(0.9,0.9,0.9,0.9), repetition=2)
print(result)
#'은 조선 .중기무신이순신이다' , '은중기.이순신조선 무신 이다'

이순신은 화물선 중기 무신이다.
['이순신 화물선 은 상선 백금 화물선 어선 조선 중기 백금 무신이다.', '은']

## AEDA : A Easier Data Augmentation

In [113]:
from koeda import AEDA


aeda = AEDA(
    morpheme_analyzer="Okt", punc_ratio=0.3, punctuations=[".", ",", "!", "?", ";", ":"]
)

text = "이순신은 조선 중기 무신이다"

result = aeda(text)
print(result)
#이순신은 조선 중기 ; 무신이다

result = aeda(text, p=0.9, repetition=2)
print(result)
# ['이순신 ? 은 ; 조선 중기 , 무신 , 이다', '! 이순신 : 은 ! 조선 : 중기 ! 무신 ? 이다']

이순신은 : 조선 중기 무신이다
['이순신은 ! 조선 중기 무신 ; 이다', '이순신 . 은 ! 조선 : 중기 ! 무신이다']

In [124]:
augmenter = EDA(
              morpheme_analyzer = "Mecab",  # Default = "Okt"
              alpha_sr= 0.1,
              alpha_ri= 0.1,
              alpha_rs= 0.1,
              prob_rd= 0.1
            )

result = augmenter(
            train_data,
            p = (0.1, 0.1, 0.1, 0.1),  # Default = (0.1, 0.1, 0.1, 0.1)
            repetition = 1
          )

TypeError: Does not support the data type : <class 'pandas.core.frame.DataFrame'>

In [122]:
augmenter = AEDA(
              morpheme_analyze = "Mecab",  # Default = "Okt"
              punc_ratio =  0.3,
              punctuations = ('.', ',', '!', '?', ';', ':')
            )

result = augmenter(
            train_data,
            p = None,  # Default = 0.3 
            repetition = 1
          )

TypeError: __init__() got an unexpected keyword argument 'morpheme_analyze'

In [118]:
augmenter = RD(
              morpheme_analyzer: str = None, 
            )

augmenter = RI(
              morpheme_analyzer: str = None, 
              stopword: bool = False
            )

augmenter = SR(
              morpheme_analyzer: str = None, 
              stopword: bool = False
            )

augmenter = RS(
              morpheme_analyzer: str = None, 
            )

result = augmenter(
            data: Union[List[str], str], 
            p: float = 0.1,
            repetition: int = 1
          )

SyntaxError: invalid syntax (<ipython-input-118-eeea0569816c>, line 2)